@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
:root {
  --primary: #707070;
  --secondary: #BC9F79;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url(../PhoneBG1.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body .container {
  height: 60vh;
}

body .container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 1px 6px #242323;
          box-shadow: 0px 1px 6px #242323;
}

body .container header h1 {
  font-family: "Poppins";
  padding: 20px;
  margin-left: 3%;
  color: var(--primary);
}

body .container header img {
  width: 90px;
  -webkit-transform: rotate(-150deg);
          transform: rotate(-150deg);
}

body .container .hero {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

body .container .hero .carousel {
  width: 96%;
  height: 58%;
  margin-bottom: 150px;
  border: 1px solid transparent;
  overflow: hidden;
  position: relative;
}

body .container .hero .carousel .slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 500%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 0%;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

body .container .hero .carousel .slider .contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

body .container .hero .carousel .slider .contents h1 {
  font-family: "georgia";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3rem;
  color: var(--secondary);
  padding: 20px;
  margin-bottom: 20px;
}

body .container .hero .carousel .slider .contents i {
  margin-top: 10px;
  text-align: center;
  font-size: 3.5rem;
  width: 45%;
  border-radius: 40px;
  background: transparent;
  color: var(--secondary);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

body .container .hero .carousel .slider .contents i:hover {
  color: #555252;
}

body .container .hero .carousel .slider .content1 img {
  width: 90%;
  height: 80%;
}

body .container .hero .carousel .slider .content2 h1 {
  margin: 15px;
  text-align: center;
  font-size: 1.25rem;
  text-shadow: 1px 2px 6px black;
}

body .container .hero .carousel .slider .content3 {
  opacity: 0;
}

body .container .hero .carousel .slider .content3 h1 {
  margin: 15px;
  text-align: center;
  font-size: 1.4rem;
  text-shadow: 1px 2px 8px black;
}

body .container .hero .carousel .arrows {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-size: 25px;
  font-weight: 200;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 45%;
  opacity: 0;
  color: var(--secondary);
}

body .container .hero .carousel .arrows .far {
  margin: auto 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

body .container .hero .carousel .arrows .far:hover {
  color: #4b4b4b;
}

body footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: var(--primary);
  font-size: 1.3rem;
  text-shadow: 1px 2px 6px black;
}

body footer p {
  margin-top: 140px;
  margin-right: 10px;
}

body footer p span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=styles.css.map */